.customize-control-summeripha_button_set{border-bottom:1px solid #ddd;padding:1em 0}
.summeripha_field_th{padding:13px 0px 10px 0px;font-weight: 600}
.summeripha_field_th span:first-child {font-weight:normal;display:block;color:#666;padding-top:5px}